<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <h1>Yelp API demo OAuth</h1>
    <p>Let it be known that Robin *hates* OAuth. :(</p>
  </body>

  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
